// Override
nav {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  align-items: center;
  width: auto;

  ul {
    a {
      padding: 0;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

// Modules
// Logo
.module-logo {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .module-logo-image {
    width: 40px;
    height: 40px;
  }
  .module-logo-name {
    color: $primary-color;
    text-transform: uppercase;
    display: block;
  }

  @media (max-width: 992px) {
    .module-logo-image {
      width: 55px;
      height: 55px;
    }

    .module-logo-name {
      font-size: 22px;
    }
  }
}

// Dropdown Nav
.module-dropdown-nav {
  position: relative;

  &:last-of-type {
    .layout-vertical-list {
      width: 140px;
    }
  }

  @media (max-width: 680px) {
    &:last-of-type {
      .layout-vertical-list {
        width: 110px;
      }
    }
  }

  @media (max-width: 600px) {
    width: 100%;
    padding: 0 15px;

    &:last-of-type {
      .layout-vertical-list {
        width: 100%;
      }
    }

    & > .module-dropdown-list-item {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 22px;
      height: 45px;
    }

    &:first-of-type {
      .module-dropdown-list {
        top: 193px;
      }
    }

    &:last-of-type {
      .module-dropdown-list {
        top: 70px;
      }
    }
  }
}

// Dropdown List
.module-dropdown-list {
  // background-color: darken($secondary-color, 60%);
  background-color: rgba(0,0,0, .6);
  position: absolute;
  top: 78px;
  left: 0;
}


// Dropdown List Item
.module-dropdown-list-item {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  transition: background-color .3s ease;

  &:last-of-type {
    border-bottom: none;
  }

  &:hover {
    background-color: rgba(0, 0, 0, .4);
  }

  &:active {
    background-color: #26a69a;
  }
}

// List Anchor
.module-list-anchor {
  width: 100%;
  padding-left: 15px;
  background: none;
  border: none;
  text-align: left;
  transition: .3s ease;
}

// Dropdown Button
.module-dropdown-btn {
  display: flex;
  align-items: center;
  .module-dropdown-arrow {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    path {
      fill: $primary-color;
    }
  }

  @media (max-width: 681px) {
    padding: 0 15px;
  }

  @media (max-width: 600px) {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 15px 0;
  }
}

// Search Input
input[type=text].module-search-input {
  margin: 0;
  height: 35px;
  background-color: darken($secondary-color, 30%);
  padding: 0 15px;
  border: 1px solid #9e9e9e;
  border-right: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;

  &:focus {
    border: 1px solid #26a69a;
    border-right: none;
  }

  @media (max-width: 600px) {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 15px 0;
  }
}

// Search Button
.module-search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  svg {
    width: 15px;
    height: 15px;
  }
}
